@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
}
html {
  box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(235, 235, 235);
}

header {
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform 200ms, box-shadow 200ms;
    -webkit-transition: transform 200ms, box-shadow 200ms;
    -moz-transition: transform 200ms, box-shadow 200ms;
    -ms-transition: transform 200ms, box-shadow 200ms;
    -o-transition: transform 200ms, box-shadow 200ms;
}

.btn:hover, .btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 15px;
    font-size: inherit;
    border: 1px solid lightgray;
}

input[type="checkbox"] {
    accent-color: black;
}

.btn {
    padding: 10px ;
    font-size: inherit;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform 200ms, box-shadow 200ms;
    -webkit-transition: transform 200ms, box-shadow 200ms;
    -moz-transition: transform 200ms, box-shadow 200ms;
    -ms-transition: transform 200ms, box-shadow 200ms;
    -o-transition: transform 200ms, box-shadow 200ms;
}

.books-container {
    max-width: 992px;
    padding: 30px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.book {
    display: inline-block;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}

.book-name, .book-author, .book-pages {
    margin-bottom: 20px;
}

.has-read-btn {
    margin-right: 10px;
}